* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  
}

body {
  width: 100%;
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.insta-phone {
  display: flex;
  justify-content: center;
  width: 50%;
}

.insta-phone img {
  height: 50rem; 
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  width: 90%;
  padding: 1.3rem 0;
  margin-bottom: 1rem;
}

.insta-logo {
  height: 6rem;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 70%;
  margin-top: 2.4rem;
}

form input {
  background: #fafafa;
  padding: .4rem;
  height: 2.8rem;
  border: 1px solid #dbdbdb;
}

form input + input {
  margin-top: .6rem;
}

form button {
  margin-top: 1rem;
  background: lightskyblue;
  border: none;
  height: 2.8rem;
  color: white;
  font-weight: bold;
}

#fb-button {
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: #385185
}

#fb-button img {
  height: 16px;
  margin-right: .2rem;
}

.container a.reset-password {
  color: #00376b;
  font-size: 0.9rem;
  margin: 12px 0 0;
}

.container p {
  margin: 15px;
  font-size: 1.1rem;
}

.container a.new-acc {
  font-weight: bold;
  color: #0095f6;
  font-size: 1.1rem;
}

footer {
  text-align: center;
}

footer p {
  font-size: 1.2rem;
}

footer img {
  margin-top: 1.2rem;
  height: 40px;
}

.container .or {
  font-weight: 600;
  color: #8e8e8e;
}
